project/gwt-unitCache/
/build
/classes
*.class
*~
*/war/gwt
project/war/WEB-INF/classes
target
/caja
/caja-release
/app_engine_sdk
*/war/r.app
project/.metadata
/image_stage

project/lib/swarm

account.properties