project/gwt-unitCache/
/build
/classes
*.class
*~
*/war/gwt
project/war/WEB-INF/classes
target
/caja
/caja-release
/app_engine_sdk
*/war/r.app
project/.metadata
scripts/client/image_stage/*

project/lib/swarm

account.properties
*.symbolMap
*.cache.js
project/war/dougkoellmer_com/min.js
project/war/dougkoellmer_com/compilation-mappings.txt
project/war/dougkoellmer_com/compilation-mappings.txt
project/war/dougkoellmer_com/dougkoellmer_com.nocache.js
project/war/index.min.jsp