body, caja-v-body
{
	margin:0px;
}

.visual_cell_content
{
	line-height:18px;
}

.dk_cell_content_border_box
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.dk_list_wrapper
{
	margin:16px;
}

.dk_list_title
{
	font-weight:bold;
}

.dk_list_body
{
	margin-bottom:16px;
	margin-left:16px;
	margin-top:6px;
}

.dk_thumb_cell
{
	padding:0px; 
}

.dk_thumb_cell_with_border_left
{
	border-left:5px solid rgb(100,100,100); 
}

.dk_thumb_cell_with_border_right
{
	border-right:5px solid rgb(100,100,100);
}

.dk_thumb_cell_with_border_top
{
	border-top:5px solid rgb(100,100,100); 
}

.dk_thumb_cell_with_border_bottom
{
	border-bottom:5px solid rgb(100,100,100); 
}

.dk_thumb_table
{
	width:100%;
	border-collapse:collapse;
	border-spacing:0px;
	border:0px;
}

.dk_thumb_row
{
	/*border-bottom:5px solid rgb(100,100,100);*/
}

.dk_thumb_cell_img
{
	display:block;
	width:64px;
	height:64px;
	background:white;
	border:1px solid #646464;
	margin-left:10px;
	margin-top:1px;
}

.dk_thumb_desc
{
	margin-right:10px;
}

.dk_thumb_cell
{
	width:50%;
	height:81px;
	font-size:12px;
}

.waypoint_no_table_fluff
{
	border:0px;
	border-spacing:0px; 
	border-collapse:collapse;
}

.dk_cell_content_text, .waypoint_cell_link_text, .dk_thumb_desc, .dk_list_wrapper, .dk_longform
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color:rgb(100,100,100);
}

.dk_cell_content_text
{
	line-height:24px;
}

.dk_cell_content_text
{
	font-size:18px;
}

.dk_longform
{
	font-size:14px;
	margin:16px;
}

.dk_longform_title
{
	font-size:18px;
}

.waypoint_cell_link_text
{
	font-size:32px;
}

.waypoint_cell_with_right_border
{
	border-right:10px solid rgb(100,100,100); 
}

.waypoint_cell_with_left_border
{
	border-left:10px solid rgb(100,100,100); 
}

.waypoint_cell_with_bottom_border
{
	border-bottom:10px solid rgb(100,100,100);
}

.waypoint_cell_with_top_border
{
	border-top:10px solid rgb(100,100,100);
}

.waypoint_cell_with_border
{
	border:10px solid rgb(100,100,100);
}

.waypoint_nav_arrow_wrapper
{
	padding:12px;
	opacity:.75;
}

.waypoint_cell_inner_table
{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

.waypoint_cell, .dk_home_waypoint_cell
{
	padding:0px;
}

.waypoint_cell_link
{	
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}

.waypoint_cell_link_text_e
{
	-webkit-transform: rotate(-90deg) ;
	-moz-transform: rotate(-90deg) ;
	-ms-transform: rotate(-90deg) ;
	-o-transform: rotate(-90deg) ;
}

.waypoint_cell_link:link {text-decoration:none;}
.waypoint_cell_link:visited {text-decoration:none;}
.waypoint_cell_link:hover {text-decoration:none;}
.waypoint_cell_link:active {text-decoration:none;}

.waypoint_cell_link:hover
{
	background:rgb(145, 167, 223);
}

.nav_arrow_img
{
	border:none;
}

.waypoint_nav_arrow_ne, .waypoint_nav_arrow_e
{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.waypoint_nav_arrow_se
{
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1);
	filter: FlipH FlipV;
	-ms-filter: "FlipH FlipV";
}

.waypoint_nav_arrow_sw
{
	-moz-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.dk_useful_cell_holder
{
	height:100%;
	width:60%;
	display:inline-block;
}

.dk_useful_cell
{
 	position:relative;
 	top:0px;
 	left:0px;
	width:100%;
	height:34%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.dk_useful_cell_link_text
{
	margin:20px;
}

.dk_useful_desc_holder
{
	display:inline-block;
	width:39%;
	height:100%;
}

.dk_software_desc_holder
{
	display:inline-block;
	width:40%;
	height:100%;
	white-space:normal;
}

.dk_software_for_comp
{
	display:inline-block;
	width:60%;
	height:100%;
}

.dk_software_for_biotics
{
	display:inline-block;
	width:100%;
	height:33%;
}

.dk_home_waypoint_cell
{
	position:relative;
	top:0px;
	left:0px;
	
	width:50%;
	height:50%;
}

.dk_home_pic_wrapper
{
	vertical-align:center;
	width:180px;
	height:180px;
	border-radius:100px;
	
	background:white;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
	text-align:center;
}

.dk_home_pic
{
	margin-top:15px;
	
	width:150px;
	height:150px;
	border-radius:75px;
	border: 1px solid grey;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.dk_home_waypoint_cell_link_text_nw, .dk_home_waypoint_cell_link_text_se
{
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg) ;
	-ms-transform: rotate(-45deg) ;
	-o-transform: rotate(-45deg) ;
}

.dk_home_waypoint_cell_link_text_ne, .dk_home_waypoint_cell_link_text_sw
{
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
}

.dk_creations_slant_countered
{
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
}

.dk_creations_desc
{
	width:60%;
	height:60%;
	right:0%;
	top:0%;
	position:absolute;
	background:white;
	z-index:3;
}

.dk_creations_slant_box
{
	-webkit-transform: rotate(-45deg) ;
	-moz-transform: rotate(-45deg) ;
	-ms-transform: rotate(-45deg) ;
	-o-transform: rotate(-45deg) ;
	
	position:absolute;
	top:-25%;
	left:-25%;
	width:150%; 
	height:150%;
}

.dk_creations_waypoint_nav_arrow_wrapper_top
{
	position:absolute;
	top:100%;
	left:50%;
}

.dk_creations_waypoint_nav_arrow_270_rot
{
	-webkit-transform: rotate(270deg) ;
	-moz-transform: rotate(270deg) ;
	-ms-transform: rotate(270deg) ;
	-o-transform: rotate(270deg) ;
}
