.dk_spinner_9,
.dk_spinner_8,
.dk_spinner_7,
.dk_spinner_6,
.dk_spinner_5,
.dk_spinner_4,
.dk_spinner_3,
.dk_spinner_2,
.dk_spinner_14,
.dk_spinner_13,
.dk_spinner_12,
.dk_spinner_11,
.dk_spinner_10,
.dk_spinner_1,
.dk_spinner_0{background-image:url('/r.img/spinner_plate.png');background-repeat:no-repeat}
.dk_spinner_9{background-position:0px 0px;width:124px;height:128px;}
.dk_spinner_8{background-position:-124px 0px;width:124px;height:128px;}
.dk_spinner_7{background-position:-248px 0px;width:124px;height:128px;}
.dk_spinner_6{background-position:0px -128px;width:124px;height:128px;}
.dk_spinner_5{background-position:-124px -128px;width:124px;height:128px;}
.dk_spinner_4{background-position:-248px -128px;width:124px;height:128px;}
.dk_spinner_3{background-position:-372px 0px;width:124px;height:128px;}
.dk_spinner_2{background-position:-372px -128px;width:124px;height:128px;}
.dk_spinner_14{background-position:0px -256px;width:124px;height:128px;}
.dk_spinner_13{background-position:-124px -256px;width:124px;height:128px;}
.dk_spinner_12{background-position:-248px -256px;width:124px;height:128px;}
.dk_spinner_11{background-position:-372px -256px;width:124px;height:128px;}
.dk_spinner_10{background-position:-496px 0px;width:124px;height:128px;}
.dk_spinner_1{background-position:-496px -128px;width:124px;height:128px;}
.dk_spinner_0{background-position:-496px -256px;width:124px;height:128px;}